force-app/main/default/flows/ActiveInactiveSpecialty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OpenRecord</name>
        <label>Abrir o registro</label>
        <locationX>1524</locationX>
        <locationY>694</locationY>
        <actionName>c:OpenFlow</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>AssignInactiveReason</name>
        <label>AssignInactiveReason</label>
        <locationX>432</locationX>
        <locationY>1057</locationY>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLoopRecord.Detail__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <stringValue>[</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateInactiveJunction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FieldsToUpdate</name>
        <label>Campos para atualizar</label>
        <locationX>1507</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>GetSpecialties.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inativo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateToInactivated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SpecialtyActive</name>
        <label>Ativa a Especialidade</label>
        <locationX>180</locationX>
        <locationY>1433</locationY>
        <assignmentItems>
            <assignToReference>GetSpecialties.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStatusActive</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Active</name>
        <choiceText>Ativar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ativar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inactive</name>
        <choiceText>Inativar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inativar</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>noChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>yesChoice</elementReference>
        </value>
    </choices>
    <decisions>
        <name>CheckChoice</name>
        <label>Verificar escolha</label>
        <locationX>171</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>OpenRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IfYesProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceProceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpecialtyActive</targetReference>
            </connector>
            <label>Se sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecksJunction</name>
        <label>Verificar se possui junção</label>
        <locationX>416</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>ScreenCreateJunction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>HasJunction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSpecialtyReasons</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInactiveJunction</targetReference>
            </connector>
            <label>Possui junção</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatus</name>
        <label>Verificar status</label>
        <locationX>419</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>MessageProfileError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>InDeployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSpecialties.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em implantação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenChoiceStatus</targetReference>
            </connector>
            <label>Se for em implantação</label>
        </rules>
        <rules>
            <name>IfActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSpecialties.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationScreenInactivate</targetReference>
            </connector>
            <label>Se for status ativo</label>
        </rules>
        <rules>
            <name>IfInactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSpecialties.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSpecialties.FieldsRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSpecialtyReasons</targetReference>
            </connector>
            <label>Se for inativo</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionProceedStop</name>
        <label>Decisão para Prosseguir ou Parar</label>
        <locationX>562</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>MessageProfileError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>WasChoiceInactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceActiveInactive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationScreenInactivate</targetReference>
            </connector>
            <label>Se foi escolhido inativar</label>
        </rules>
        <rules>
            <name>WasChoiceActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceActiveInactive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSpecialties.FieldsRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSpecialtyReasons</targetReference>
            </connector>
            <label>Se foi escolhido ativar</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmptyList</name>
        <label>EmptyList</label>
        <locationX>229</locationX>
        <locationY>921</locationY>
        <defaultConnector>
            <targetReference>ReasonInactiveScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>EmptyListDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationScreenActivate</targetReference>
            </connector>
            <label>EmptyListDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>WantProceed</name>
        <label>Deseja prosseguir?</label>
        <locationX>1359</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>OpenRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IfYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FieldsToUpdate</targetReference>
            </connector>
            <label>Se sim</label>
        </rules>
    </decisions>
    <interviewLabel>Ativar/Inativar Especialidade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ativar/Inativar Especialidade</label>
    <loops>
        <name>IterateInactiveJunction</name>
        <label>Iterar as junções inativas</label>
        <locationX>431</locationX>
        <locationY>927</locationY>
        <assignNextValueToReference>varLoopRecord</assignNextValueToReference>
        <collectionReference>GetInactiveJunction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignInactiveReason</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EmptyList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetInactiveJunction</name>
        <label>Obter junções inativas</label>
        <locationX>430</locationX>
        <locationY>796</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateInactiveJunction</targetReference>
        </connector>
        <filters>
            <field>Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>ReasonStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <filters>
            <field>SpecialtyDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceSpecialtyDetails__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Esse elemento busca o id da especialidade que você está tentando inativar ou ativar.</description>
        <name>GetSpecialties</name>
        <label>Buscar Especialidade</label>
        <locationX>179</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FieldsRequired__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSpecialtyReasons</name>
        <label>Obter motivos da especialidade</label>
        <locationX>557</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChecksJunction</targetReference>
        </connector>
        <filters>
            <field>Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ReasonStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <filters>
            <field>SpecialtyDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceSpecialtyDetails__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SpecialtyDetail__c</queriedFields>
        <queriedFields>SpecialtyStatus__c</queriedFields>
        <queriedFields>IsActive__c</queriedFields>
        <queriedFields>Detail__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateStatusActive</name>
        <label>Atualizar status para ativo</label>
        <locationX>1869</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>ScreenSuccessActive</targetReference>
        </connector>
        <inputReference>GetSpecialties</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToInactivated</name>
        <label>Atualizar para inativo</label>
        <locationX>1647</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>SuccessUpdate</targetReference>
        </connector>
        <inputReference>GetSpecialties</inputReference>
    </recordUpdates>
    <screens>
        <name>ConfirmationScreenActivate</name>
        <label>Tela de confirmação para ativar</label>
        <locationX>7</locationX>
        <locationY>1209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckChoice</targetReference>
        </connector>
        <fields>
            <name>MessageConfirmation</name>
            <fieldText>&lt;p&gt;Você realmente deseja &lt;b&gt;ativar &lt;/b&gt;essa especialidade?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoiceProceed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escolha</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Tela que irá exibir a mensagem para se a pessoa realmente quer inativar esse registro de motivo.</description>
        <name>ConfirmationScreenInactivate</name>
        <label>Tela de confirmação para inativar</label>
        <locationX>1175</locationX>
        <locationY>157</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WantProceed</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;Você realmente deseja &lt;b&gt;inativar&lt;/b&gt; essa especialidade?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choice</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escolha</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MessageProfileError</name>
        <label>Tela de erro</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageError</name>
            <fieldText>&lt;p&gt;Não é possível ativar essa &lt;b&gt;especialidade &lt;/b&gt;sem que os campos &quot;&lt;b&gt;Tempo de Execução&lt;/b&gt;&quot;, &quot;&lt;b&gt;Retorno por falta de peça(dias)&lt;/b&gt;&quot; e &quot;&lt;b&gt;Retorno garantia por MO(dias)&lt;/b&gt;&quot; estejam preenchidos.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReasonInactiveScreen</name>
        <label>Tela para motivos inativos</label>
        <locationX>84</locationX>
        <locationY>993</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConfirmationScreenActivate</targetReference>
        </connector>
        <fields>
            <name>MessageReasonInactive</name>
            <fieldText>&lt;p&gt;Essa &lt;b&gt;especialidade &lt;/b&gt;possui &lt;b&gt;motivos &lt;/b&gt;inativos vinculados a ela.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Motivos:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Collection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collection</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageNotHasInactiveReason</name>
            <fieldText>&lt;p&gt;Essa &lt;b&gt;especialidade não&lt;/b&gt; possui nenhum &lt;b&gt;motivo inativo &lt;/b&gt;vinculado a ela.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collection</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenChoiceStatus</name>
        <label>Tela de escolher status</label>
        <locationX>417</locationX>
        <locationY>173</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisionProceedStop</targetReference>
        </connector>
        <fields>
            <name>ChoiceTheStatus</name>
            <fieldText>&lt;p&gt;Escolha o que você deseja fazer, &lt;b&gt;ativar &lt;/b&gt;ou &lt;b&gt;inativar &lt;/b&gt;essa especialidade?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoiceActiveInactive</name>
            <choiceReferences>Active</choiceReferences>
            <choiceReferences>Inactive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenCreateJunction</name>
        <label>Tela para criar junção</label>
        <locationX>222</locationX>
        <locationY>665</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageToActive</name>
            <fieldText>&lt;p&gt;Não é possível ativar essa especialidade, pois ela não possui um motivo ativo vinculado a ela.&lt;/p&gt;&lt;p&gt;Por favor, crie esse vínculo e tente novamente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenSuccessActive</name>
        <label>Tela de sucesso ativação</label>
        <locationX>2241</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OpenRecord</targetReference>
        </connector>
        <fields>
            <name>ReasonActiveMessage</name>
            <fieldText>&lt;p&gt;A especialidade &lt;b&gt;{!GetSpecialties.Name} &lt;/b&gt;foi ativada com sucesso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessUpdate</name>
        <label>Atualizado com Sucesso</label>
        <locationX>1896</locationX>
        <locationY>245</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OpenRecord</targetReference>
        </connector>
        <fields>
            <name>UpdateMessage</name>
            <fieldText>&lt;p&gt;A especialidade &lt;b&gt;{!GetSpecialties.Name} &lt;/b&gt;foi inativado com sucesso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>GetSpecialties</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>listOfSpecialtiesToInactvate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>noChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </variables>
    <variables>
        <name>Product2Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>reasonNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>specialtyNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceSpecialtyDetails__c</objectType>
    </variables>
    <variables>
        <name>yesChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </variables>
</Flow>
