force-app/main/default/flows/ChangeStatusToInactive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignStatusEqualsInactive</name>
        <label>Atribuir valor para status igual a inativo</label>
        <locationX>912</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inativo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateToInactivated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckStatusLgpdStatusEmployee</name>
        <label>Verifica Status e LgpdStatus do Colaborador</label>
        <locationX>903</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IfStatusActiveLgpdStatusEqualP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LgpdStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FindRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStatusEqualsInactive</targetReference>
            </connector>
            <label>Se Status for Ativo e LgpdStatus igual P</label>
        </rules>
    </decisions>
    <description>Criar um fluxo para alterar o status de um Colaborador da Base para Inativo.</description>
    <interviewLabel>Alteração Status Para Inativo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alteração Status do Colaborador da Base</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindRecordType</name>
        <label>Encontrar Tipo de Registro</label>
        <locationX>613</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckStatusLgpdStatusEmployee</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BaseEmployees</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateToInactivated</name>
        <label>Atualizar para inativo</label>
        <locationX>556</locationX>
        <locationY>422</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>79</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>FindRecordType</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LgpdStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusContact</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
