force-app/main/default/flows/ContactCancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PageUpdate</name>
        <label>Atualiza Página</label>
        <locationX>2615</locationX>
        <locationY>645</locationY>
        <actionName>c:OpenFlow</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <choices>
        <name>ChoiceOptionActivate</name>
        <choiceText>Ativar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ActivateRegistration</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOptionCancel</name>
        <choiceText>Cancelar</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CancelRegistration</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoiceOptionInactivate</name>
        <choiceText>Inativar</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>InactivateRegistration</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoiceOptionProcess</name>
        <choiceText>Aprovar no processo de seleção.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ChoiceOptionProcessSelection</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Escolher uma das opções: Ativar, Inativar ou Cancelar o Colaborador da Base.</description>
        <name>ActivateInactivateOrCancel</name>
        <label>Ativar, Inativar ou Cancelar?</label>
        <locationX>1578</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenUpdateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ActivateSelected</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>OptionsButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceOptionActivate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativo/Temporário</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em implantação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.StatusRadar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.RisksStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmActivate</targetReference>
            </connector>
            <label>Ativar Selecionado</label>
        </rules>
        <rules>
            <name>InactivateSelected</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>OptionsButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceOptionInactivate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em implantação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativo/Temporário</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmInactivation</targetReference>
            </connector>
            <label>Inativar Selecionado</label>
        </rules>
        <rules>
            <name>CancelSelected</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>OptionsButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceOptionCancel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativo/Temporário</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmaCancelamento</targetReference>
            </connector>
            <label>Cancelar Selecionado</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionActivateInactivateCancel</name>
        <label>Decisão para Ativar, Inativar ou Cancelar</label>
        <locationX>858</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>ProfileError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>BaseEmployeeSelection</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em implantação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.ApprovedSelectionProcess__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.StatusRadar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.RisksStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AprovedProcessSelection</targetReference>
            </connector>
            <label>Colaborador em Processo de seleção</label>
        </rules>
        <rules>
            <name>ActiveBlockedEmployeeInImplementation</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em implantação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativo/Temporário</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChooseOptions</targetReference>
            </connector>
            <label>Colaborador Ativo, Inativo, Bloqueado ou Em implantação</label>
        </rules>
        <rules>
            <name>CanceledEmployee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmployeeScreenCanceled</targetReference>
            </connector>
            <label>Colaborador está Cancelado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateTypeProvider</name>
        <label>Valida qual o tipo do Prestador</label>
        <locationX>1559</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>ProviderNotActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prestador não está Ativo</defaultConnectorLabel>
        <rules>
            <name>ProviderPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchRegistration.LegalSituationProvider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountStatusProvider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusProcessSelection</targetReference>
            </connector>
            <label>Prestador PJ</label>
        </rules>
        <rules>
            <name>ProviderPF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchRegistration.LegalSituationProvider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountStatusProvider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusProcessSelectionPF</targetReference>
            </connector>
            <label>Prestador PF</label>
        </rules>
    </decisions>
    <formulas>
        <description>Pega o status da conta (prestador) vinculado</description>
        <name>AccountStatusProvider</name>
        <dataType>String</dataType>
        <expression>TEXT({!SearchRegistration.Account.Status__c})</expression>
    </formulas>
    <formulas>
        <name>DateCancelEmployee</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>UserIdProfile</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <interviewLabel>Cancelamento do Contato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ações do Status - Colaborador da Base</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRecordType</name>
        <label>Obter Record Type</label>
        <locationX>670</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionActivateInactivateCancel</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BaseEmployees</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SearchRegistration</name>
        <label>Buscar Registro</label>
        <locationX>455</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>ApprovedSelectionProcess__c</queriedFields>
        <queriedFields>StatusRadar__c</queriedFields>
        <queriedFields>RisksStatus__c</queriedFields>
        <queriedFields>Reason__c</queriedFields>
        <queriedFields>DateCancelEmployee__c</queriedFields>
        <queriedFields>SyncAPI__c</queriedFields>
        <queriedFields>LegalSituationProvider__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>StatusUpdate</name>
        <label>Atualiza Status - Cancelar</label>
        <locationX>2271</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>PageUpdate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DateCancelEmployee__c</field>
            <value>
                <elementReference>DateCancelEmployee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>ReasonCancel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>StatusUpdateActivate</name>
        <label>Atualizar Status - Ativado</label>
        <locationX>2278</locationX>
        <locationY>802</locationY>
        <connector>
            <targetReference>PageUpdate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncAPI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>StatusUpdateInativate</name>
        <label>Atualizar Status - Inativado</label>
        <locationX>2273</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>PageUpdate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inativo</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusProcessSelection</name>
        <label>Atualiza Aprovado - Processo de Seleção</label>
        <locationX>2256</locationX>
        <locationY>288</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovedSelectionProcess__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusProcessSelectionPF</name>
        <label>Atualiza Aprovado - Processo de Seleção</label>
        <locationX>2256</locationX>
        <locationY>141</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovedSelectionProcess__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>AprovedProcessSelection</name>
        <label>Aprovado Processo de Seleção</label>
        <locationX>1345</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ValidateTypeProvider</targetReference>
        </connector>
        <fields>
            <name>OptionProcess</name>
            <choiceReferences>ChoiceOptionProcess</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opções Processo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ChooseOptions</name>
        <label>Escolha as Opções</label>
        <locationX>1369</locationX>
        <locationY>625</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActivateInactivateOrCancel</targetReference>
        </connector>
        <fields>
            <name>ChoiceText</name>
            <fieldText>&lt;p&gt;Escolha a alteração que será feita no colaborador:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OptionsButton</name>
            <choiceReferences>ChoiceOptionActivate</choiceReferences>
            <choiceReferences>ChoiceOptionInactivate</choiceReferences>
            <choiceReferences>ChoiceOptionCancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opções</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReasonCancel</name>
            <fieldText>Motivo</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OptionsButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceOptionCancel</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmaCancelamento</name>
        <label>Confirmar Cancelamento</label>
        <locationX>1975</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StatusUpdate</targetReference>
        </connector>
        <fields>
            <name>mensagem_confirmacao</name>
            <fieldText>&lt;p&gt;Ao continuar o registro será Cancelado e só poderá ser restabelecido após análise.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmActivate</name>
        <label>Confirmar  Ativação</label>
        <locationX>1979</locationX>
        <locationY>802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StatusUpdateActivate</targetReference>
        </connector>
        <fields>
            <name>ConfirmActivateText</name>
            <fieldText>&lt;p&gt;Você realmente deseja ativar o Colaborador?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmInactivation</name>
        <label>Confirmar Inativação</label>
        <locationX>1969</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StatusUpdateInativate</targetReference>
        </connector>
        <fields>
            <name>ConfirmInactivationText</name>
            <fieldText>&lt;p&gt;Você realmente deseja Inativar o Colaborador?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmployeeScreenCanceled</name>
        <label>Tela para colaborador já cancelado</label>
        <locationX>1434</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;O colaborador {!SearchRegistration.LastName} está Cancelado.&lt;/p&gt;&lt;p&gt;Por favor, para reativá-lo clique no botão de Reanalisar.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreenUpdateStatus</name>
        <label>Tela de erro Atualização Status</label>
        <locationX>1738</locationX>
        <locationY>935</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IsNotPossibleUpdate</name>
            <fieldText>&lt;p&gt;Não foi possível alterar o Status &lt;b&gt;{!SearchRegistration.Status__c} &lt;/b&gt;para a opção escolhida: &lt;b&gt;{!OptionsButton}&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 OR 2</conditionLogic>
                <conditions>
                    <leftValueReference>OptionsButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceOptionActivate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OptionsButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceOptionCancel</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sdf</name>
            <fieldText>&lt;p&gt;Para ativar o Colaborador &lt;b&gt;{!SearchRegistration.LastName}&lt;/b&gt; é necessário que a área de &lt;b&gt;Radar&lt;/b&gt; ou &lt;b&gt;Riscos&lt;/b&gt; libere o cadastro, após isso, volte e clique no botão &lt;b&gt;Ações do Status&lt;/b&gt; e aprove este Colaborador no processo de seleção.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Em implantação</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SearchRegistration.StatusRadar__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>L</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SearchRegistration.RisksStatus__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Liberado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OptionsButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceOptionActivate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BaseEmployeesInactive</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Não foi possível alterar o Status, pois o Colaborador já se encontra &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Inativo&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SearchRegistration.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inativo</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OptionsButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceOptionInactivate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProfileError</name>
        <label>Tela de erro do profile</label>
        <locationX>1435</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProfileMessageError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Não é possível &lt;b&gt;Inativar &lt;/b&gt;ou &lt;b&gt;Cancelar &lt;/b&gt;o colaborador, pois seu perfil não atende ao critério.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProviderNotActive</name>
        <label>Prestador não Ativo</label>
        <locationX>2005</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>tege</name>
            <fieldText>&lt;p&gt;Não é possível Ativar o registro do Colaborador {!SearchRegistration.LastName} pois a Base ao qual ele está vinculado não está Ativa!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>385</locationY>
        <connector>
            <targetReference>SearchRegistration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelRegistration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Cancelado</stringValue>
        </value>
    </variables>
    <variables>
        <name>InactivateRegistration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Inativo</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProfileAdministrator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00e3i000001Bdq3</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProfileSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00ef0000000Sj8V</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusCancel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Inativo</stringValue>
        </value>
    </variables>
</Flow>
