force-app/main/default/flows/CreateContractInstallment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddOneMoreCount</name>
        <label>Adicionar mais 1 ao contador</label>
        <locationX>1000</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>lParcelNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckQuantityTheParcelsOtherDiscounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOtherDiscountsParcelsToList</name>
        <label>Adicionar a Lista As parcelas de Demais Descontos</label>
        <locationX>1277</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>lContractInstallmentToCreateLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lContractInstallment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOneMoreCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCount</name>
        <label>Atribuir contador</label>
        <locationX>1635</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>lContractInstallment.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lContractInstallment.ParcelNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lParcelNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lContractInstallment.ReferenceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referenceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lContractInstallment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lContractInstallment.InstallmentValueN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InstallmentValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lContractInstallment.ContractInstallmentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.ContractNumber__c}-{!lParcelNumber}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReferenceDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpenedStatus</name>
        <label>Atribuir status Em Aberto</label>
        <locationX>1383</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>lContractInstallment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Aberto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecordsToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpenedStatusOtherDiscounts</name>
        <label>Atribuir Status Em Aberto</label>
        <locationX>1451</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>lContractInstallment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Aberto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOtherDiscountsParcelsToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOverdueStatus</name>
        <label>Atribuir status Em Atraso</label>
        <locationX>1870</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>lContractInstallment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Atraso</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecordsToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOverdueStatusOtherDiscounts</name>
        <label>Atribui Status Em atraso</label>
        <locationX>1143</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>lContractInstallment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Atraso</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOtherDiscountsParcelsToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordsToList</name>
        <label>Atribuir registros para a lista</label>
        <locationX>1630</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>lContractInstallmentToCreateLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lContractInstallment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesToOtherDiscountsParcels</name>
        <label>Atribuir valores para parcelas de Demais Descontos</label>
        <locationX>949</locationX>
        <locationY>1181</locationY>
        <assignmentItems>
            <assignToReference>lContractInstallment.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lContractInstallment.ParcelNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lParcelNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lContractInstallment.ReferenceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>referenceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lContractInstallment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeIdOtherDiscounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lContractInstallment.InstallmentValueN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InstallmentValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckContractIsOpenedOverdue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increments</name>
        <label>Incrementa</label>
        <locationX>1288</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>lParcelNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChecklParcelNumber</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckContractIsOpenedOverdue</name>
        <label>Verifica se o contrato será Em Aberto ou Em Atraso</label>
        <locationX>1279</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>AssignOpenedStatusOtherDiscounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IfReferenceDateIsShorterDifferentCurrentMonth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referenceDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>todayFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>referenceDateMonth</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>todayMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOverdueStatusOtherDiscounts</targetReference>
            </connector>
            <label>Se a data de referencia for menor e diferente do mês atual</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecklParcelNumber</name>
        <label>Verifica o lParcelNumber</label>
        <locationX>921</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>CreateContractInstallment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IflParcelNumberIsLessThanEqual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lParcelNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContractTerm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCount</targetReference>
            </connector>
            <label>Se lParcelNumber for menor ou igual</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckQuantityTheParcelsOtherDiscounts</name>
        <label>Verifica a quantidade de parcelas dos Demais Descontos</label>
        <locationX>759</locationX>
        <locationY>879</locationY>
        <defaultConnector>
            <targetReference>CreateOtherDiscountsParcels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IfParcelNumberIsLessThanEqualsOtherDiscountsPacerls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lParcelNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContractTerm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuesToOtherDiscountsParcels</targetReference>
            </connector>
            <label>Se número da parcela for menor ou igual a parcelas dos Demais Descontos</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordTypeContract</name>
        <label>Verifica o tipo de registro do contrato</label>
        <locationX>502</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IfRecordTypeIsPortoSeg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PortoSeg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeId</targetReference>
            </connector>
            <label>Se tipo de registro for PortoSeg</label>
        </rules>
        <rules>
            <name>IfRecordTypeIsOtherDiscounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OtherDiscounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeIdOtherDiscounts</targetReference>
            </connector>
            <label>Se tipo de registro for Demais Descontos</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReferenceDate</name>
        <label>Verifica data de referencia</label>
        <locationX>1627</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>AssignOpenedStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IfDateWasLessToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referenceDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>todayFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>referenceDateMonth</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>todayMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOverdueStatus</targetReference>
            </connector>
            <label>Se a data for menor que hoje</label>
        </rules>
    </decisions>
    <formulas>
        <name>referenceDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.StartDate},({!lParcelNumber} - 1))</expression>
    </formulas>
    <formulas>
        <name>referenceDateMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!referenceDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>todayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>todayMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateContractInstallment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContractInstallment</name>
        <label>CreateContractInstallment</label>
        <locationX>927</locationX>
        <locationY>527</locationY>
        <inputReference>lContractInstallmentToCreateLst</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOtherDiscountsParcels</name>
        <label>Criar as Parcelas do Contrato de Demais Descontos</label>
        <locationX>567</locationX>
        <locationY>1008</locationY>
        <inputReference>lContractInstallmentToCreateLst</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetRecordTypeId</name>
        <label>GetRecordTypeId</label>
        <locationX>765</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChecklParcelNumber</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PortoSeg</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContractInstallment__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeIdOtherDiscounts</name>
        <label>GetRecordTypeIdOtherDiscounts</label>
        <locationX>509</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckQuantityTheParcelsOtherDiscounts</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OtherDiscounts</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContractInstallment__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>CheckRecordTypeContract</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lContractInstallment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractInstallment__c</objectType>
    </variables>
    <variables>
        <name>lContractInstallmentToCreateLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractInstallment__c</objectType>
    </variables>
    <variables>
        <name>lParcelNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lParcelNumberList</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
