force-app/main/default/flows/EmployeeReanalysis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RescuerRegistrationWizard</name>
        <label>Cadastro do Colaborador</label>
        <locationX>1204</locationX>
        <locationY>35</locationY>
        <actionName>c:openRescuerRegistrationWizard</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>cpf</name>
            <value>
                <elementReference>GetContact.CPF__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SubmissionForReanalysis</name>
        <label>Envio para Reanálise</label>
        <locationX>937</locationX>
        <locationY>510</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>AApprovalMessage2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SubmitApprovalCanceledBaseEmployees</name>
        <label>Enviar para aprovação de um colaborador cancelado</label>
        <locationX>836</locationX>
        <locationY>411</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>ApprovalMessageCanceled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>FitForReanalysisRegistrationWizard</name>
        <label>Apto a Reanálise/Cadastro Wizard?</label>
        <locationX>665</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>NotFit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Reanalysis</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em implantação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateUserApproval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.StatusRadar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.RisksStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recusado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.RisksStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReAnalysisRequest</targetReference>
            </connector>
            <label>Reanálise</label>
        </rules>
        <rules>
            <name>RegistrationWizard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateUserApproval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovedSelectionProcess</targetReference>
            </connector>
            <label>Cadastro Wizard</label>
        </rules>
        <rules>
            <name>BaseEmployeesCanceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.InProgressCanceled__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CanceledBaseEmployeesApproval</targetReference>
            </connector>
            <label>Colaborador Cancelado</label>
        </rules>
    </decisions>
    <formulas>
        <description>Valida se o usuário que está editando o registro possui usuário aprovador</description>
        <name>ValidateUserApproval</name>
        <dataType>String</dataType>
        <expression>{!$User.RecuerApprover__c}</expression>
    </formulas>
    <interviewLabel>Reanálise do Colaborador {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reanálise do Colaborador</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContact</name>
        <label>Busca Cotato</label>
        <locationX>390</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FitForReanalysisRegistrationWizard</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RisksStatus__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>StatusRadar__c</queriedFields>
        <queriedFields>GreaterEqual90Days__c</queriedFields>
        <queriedFields>CPF__c</queriedFields>
        <queriedFields>Approver__c</queriedFields>
        <queriedFields>InProgressCanceled__c</queriedFields>
        <queriedFields>ApprovedSelectionProcess__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ApprovedSelectionProcess</name>
        <label>Aprovado no processo de Seleção</label>
        <locationX>1045</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>RescuerRegistrationWizard</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApprovedSelectionProcess__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovedSelectionProcess__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>CanceledBaseEmployeesApproval</name>
        <label>Aprovação Colaborador Cancelado</label>
        <locationX>834</locationX>
        <locationY>269</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SubmitApprovalCanceledBaseEmployees</targetReference>
        </connector>
        <fields>
            <name>MessageApproval</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;        Por favor digite uma mensagem justificando a reanálise do colaborador.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovalMessageCanceled</name>
            <fieldText>Comentário do Envio</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotFit</name>
        <label>Não Apto</label>
        <locationX>674</locationX>
        <locationY>271</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageTextRadarApproval</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Não é possível reanalisar um colaborador pendente de de análise do Radar, aguarde o retorno do radar.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetContact.StatusRadar__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aguardando Radar</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Em implantação</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageTextRiskApproval</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Colaborador já está em análise!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>GetContact.RisksStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aguardando Gestão de Custos e Riscos</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Em implantação</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cancelado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.InProgressCanceled__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReleasedRiskManagement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Este colaborador já se encontra liberado!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND (3 OR 4 )</conditionLogic>
                <conditions>
                    <leftValueReference>GetContact.RisksStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Liberado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.StatusRadar__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>L</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inativo</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Em implantação</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageTextActiveContact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Este colaborador já se encontra Ativo!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ativo</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlockStatus</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Não é possível reanalisar um Colaborador que esteja &lt;b&gt;Bloqueado&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inativo/Temporário</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NotHasApprover</name>
            <fieldText>&lt;p&gt;Não é possível reanalisar esse colaborador, pois não está atribuído um aprovador para você. Por favor entre em contato com o administrador do sistema.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>ValidateUserApproval</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inativo</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Em implantação</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ValidateUserApprovalReanalisys</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Não é possível reanalisar esse colaborador cancelado, pois não está atribuído um aprovador para você. Por favor entre em contato com o administrador do sistema.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetContact.Approver__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetContact.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cancelado</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReAnalysisRequest</name>
        <label>Solicitação de Reanálise</label>
        <locationX>935</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SubmissionForReanalysis</targetReference>
        </connector>
        <fields>
            <name>TextInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Por favor digite uma mensagem justificando a reanálise do colaborador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AApprovalMessage2</name>
            <fieldText>Comentário do Envio</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Tamanho do comentário excedido(Max: 4000)&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!AApprovalMessage2}) &lt;= 4000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
