force-app/main/default/flows/InsertInvoicePaymentOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>OpenRecord</name>
        <label>Abrir o Registro</label>
        <locationX>5766</locationX>
        <locationY>1237</locationY>
        <actionName>c:OpenFlow</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>AssignCheckbookValueOptingSimpleNo</name>
        <label>Atribuir valor Talonário e Optante pelo Simples</label>
        <locationX>2950</locationX>
        <locationY>1808</locationY>
        <assignmentItems>
            <assignToReference>GetOrder.NFUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userExecute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.OptingForSimple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NF Em Analise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.ReasonForRefusal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.LinkNFe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFileId</name>
        <label>Atribuir Id do Arquivo</label>
        <locationX>1974</locationX>
        <locationY>1674</locationY>
        <assignmentItems>
            <assignToReference>idFile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFileId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUserCheckbook</name>
        <label>Atribuir usuário para talonário</label>
        <locationX>4203</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>GetOrder.NFUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userExecute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.OptingForSimple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Aliquot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NF Em Analise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.ReasonForRefusal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.ISSTaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.LinkNFe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValueInvoiceOptingSimpleYes</name>
        <label>Atribuir valor para Fatura e Optante pelo Simples Sim</label>
        <locationX>4628</locationX>
        <locationY>1348</locationY>
        <assignmentItems>
            <assignToReference>GetOrder.DocumentNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NFeInvoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmissionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userExecute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Aliquot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NF Em Analise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.ISSTaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.OptingForSimple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFFileId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idFile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.ReasonForRefusal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.LinkNFe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesElectronicInvoiceOptingSimpleNo</name>
        <label>Atribuir valores para Nota fiscal eletrônica e optante pelo simples como não</label>
        <locationX>4203</locationX>
        <locationY>1513</locationY>
        <assignmentItems>
            <assignToReference>GetOrder.LinkNFe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ElectronicInvoiceLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmissionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.DocumentNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NFeInvoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userExecute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.OptingForSimple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NF Em Analise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.ReasonForRefusal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFFileId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idFile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesInvoiceNoOpting</name>
        <label>Atribuir valores para Fatura e Não Optante</label>
        <locationX>4621</locationX>
        <locationY>1077</locationY>
        <assignmentItems>
            <assignToReference>GetOrder.DocumentNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NFeInvoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmissionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Aliquot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.ISSTaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.OptingForSimple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.ReasonForRefusal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userExecute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NF Em Analise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFFileId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idFile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.LinkNFe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesOP</name>
        <label>Atribuir valores para a OP</label>
        <locationX>2939</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>GetOrder.Aliquot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.LinkNFe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ElectronicInvoiceLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.DocumentNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NFeInvoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmissionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userExecute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.OptingForSimple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NF Em Analise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.ReasonForRefusal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.ISSTaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFFileId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idFile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesReceipt</name>
        <label>Atribuir valores para Recibo</label>
        <locationX>3715</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetOrder.NFIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmissionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.DocumentNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userExecute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.OptingForSimple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Aliquot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NF Em Analise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.ReasonForRefusal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.ISSTaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aliquota</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFFileId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idFile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.LinkNFe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesReceiptOptingSimpleNo</name>
        <label>Atribuir valores para Recibo e Optante pelo Simples não</label>
        <locationX>3716</locationX>
        <locationY>1657</locationY>
        <assignmentItems>
            <assignToReference>GetOrder.NFIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmissionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.DocumentNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.OptingForSimple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userExecute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NF Em Analise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.ReasonForRefusal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NFFileId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idFile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.LinkNFe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>no</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ChecksDocumentType</name>
        <label>Verificar o tipo de documento</label>
        <locationX>2619</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>AssignCheckbookValueOptingSimpleNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IfDocumentTypeIsElectronicInvoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NFSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>electronicInvoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OptingSimples</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuesOP</targetReference>
            </connector>
            <label>Se o tipo de documento for Nota fiscal eletrônica e Optante pelo simples Sim</label>
        </rules>
        <rules>
            <name>IfDocumentTypeIsReceipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NFSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>receipt</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OptingSimples</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuesReceipt</targetReference>
            </connector>
            <label>Se tipo de documento for Recibo e Optante pelo simples Sim</label>
        </rules>
        <rules>
            <name>IfDocumentTypeCheckbook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NFSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>checkbook</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OptingSimples</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUserCheckbook</targetReference>
            </connector>
            <label>Se o tipo de documento for Talonário e Optante pelo simples Sim</label>
        </rules>
        <rules>
            <name>IfDocumentTypeElectronicInvoiceOptingSimpleNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NFSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>electronicInvoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OptingSimples</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuesElectronicInvoiceOptingSimpleNo</targetReference>
            </connector>
            <label>Se o tipo de documento for Nota fiscal eletrônica e Optante pelo simples Não</label>
        </rules>
        <rules>
            <name>IfTypeDocumentIsReceiptOptingSimpleNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OptingSimples</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NFType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>receipt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuesReceiptOptingSimpleNo</targetReference>
            </connector>
            <label>Se o tipo de documento for recibo e Optante pelo simples Não</label>
        </rules>
        <rules>
            <name>IfDocumentTypeInvoiceOptingSimpleNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NFSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fatura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OptingSimples</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuesInvoiceNoOpting</targetReference>
            </connector>
            <label>Se o tipo de documento for Fatura e Optante pelo simples Não</label>
        </rules>
        <rules>
            <name>IfDocumentTypeIsInvoiceOptingSimpleYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NFSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fatura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OptingSimples</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValueInvoiceOptingSimpleYes</targetReference>
            </connector>
            <label>Se tipo de documento for Fatura e Optante pelo simples Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecksOrderPaymentStatus</name>
        <label>Verifica o status da ordem de pagamento</label>
        <locationX>1378</locationX>
        <locationY>1329</locationY>
        <defaultConnector>
            <targetReference>PaymentOrderInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IfStatusPaymentNFApproval</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NF Aprovada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paga</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNotInsertDocument</targetReference>
            </connector>
            <label>Se status está paga ou NF aprovada retornar mensagem</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecksScreenSuccess</name>
        <label>Verificar se mostra tela de sucesso ou não</label>
        <locationX>5529</locationX>
        <locationY>1385</locationY>
        <defaultConnector>
            <targetReference>OpenRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IfDocumentTypeIs</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>NFSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>electronicInvoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NFType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>receipt</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NFType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fatura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SucessScreen</targetReference>
            </connector>
            <label>Se tipo de documento for</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyHasDocument</name>
        <label>Verificar se o possui documento</label>
        <locationX>2239</locationX>
        <locationY>1209</locationY>
        <defaultConnector>
            <targetReference>ChecksDocumentType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IfListIsNullNeededFile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>idFile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NFSelect</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Talonário</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNeededFile</targetReference>
            </connector>
            <label>Se a lista está nula e o documento precisa do anexo</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyIdNotNull</name>
        <label>Verifica se o Id é diferente de nullo</label>
        <locationX>1967</locationX>
        <locationY>1469</locationY>
        <defaultConnectorLabel>Id Nulo</defaultConnectorLabel>
        <rules>
            <name>IdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLoop</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varLoop</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFileId</targetReference>
            </connector>
            <label>Id não Nulo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>NFType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DocumentType__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>NFName</name>
        <dataType>String</dataType>
        <expression>&apos;NF_&apos;+{!GetOrder.OrderNumber}</expression>
    </formulas>
    <formulas>
        <name>OptingSimpleFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!GetAccount.OptingForSimple__c}) = &apos;S&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>userExecute</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>InsertInvoicePaymentOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InsertInvoicePaymentOrder</label>
    <loops>
        <name>GetFileId</name>
        <label>Pegar Id do Arquivo</label>
        <locationX>1973</locationX>
        <locationY>1294</locationY>
        <assignNextValueToReference>varLoop</assignNextValueToReference>
        <collectionReference>idDocuments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerifyIdNotNull</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerifyHasDocument</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>Pesquisar Cliente e Parceiro</label>
        <locationX>794</locationX>
        <locationY>1330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFlowMetadatas</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrder.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFlowMetadatas</name>
        <label>Pesquisar Metadados do Fluxo</label>
        <locationX>1078</locationX>
        <locationY>1329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChecksOrderPaymentStatus</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckbookInformation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowMetadata__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Componente para trazer o dado da OP</description>
        <name>GetOrder</name>
        <label>Pesquisar a OP</label>
        <locationX>528</locationX>
        <locationY>1330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>Atualizar o Prestador</label>
        <locationX>5308</locationX>
        <locationY>1242</locationY>
        <connector>
            <targetReference>UpdateOP</targetReference>
        </connector>
        <inputReference>GetAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOP</name>
        <label>Atualizar a OP</label>
        <locationX>5541</locationX>
        <locationY>1242</locationY>
        <connector>
            <targetReference>ChecksScreenSuccess</targetReference>
        </connector>
        <inputReference>GetOrder</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>PaymentOrderInvoice</name>
        <label>Enviar Nota Fiscal</label>
        <locationX>1770</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetFileId</targetReference>
        </connector>
        <fields>
            <name>txt1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;INFORMAÇÕES SOBRE O SIMPLES NACIONAL&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Prezado(a) Prestador(a)&lt;/p&gt;&lt;p&gt;A empresa prestadora de serviços deve informar se está regularmente inscrita no Regime Especial Unificado de Arrecadação de Tributos e&lt;/p&gt;&lt;p&gt;Contribuições das Microempresas e das Empresas de Pequeno Porte Simples Nacional (regime tributário previsto na Lei Complementar&lt;/p&gt;&lt;p&gt;n&apos;123, de 2006, aplicável as Microempresas e as Empresas de Pequeno Porte), assumindo compromisso de comunicar o eventual&lt;/p&gt;&lt;p&gt;desenquadramento nesta condição e ciente de que a falsidade na presteção destas informações sujeitará o responsável as penalidades&lt;/p&gt;&lt;p&gt;previstas na legislação.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Qualquer divida com relação ao Simples Nacional, favor entrar em contato com seu contador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReadAndAgree</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Li e concordo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Campo obrigatório&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ReadAndAgree}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>txt2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;INFORME ABAIXO SE SUA EMPRESA É OPTANTE PELO SIMPLES(NESTE CASO, INFORMAR A ALÍQUOTA).&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ReadAndAgree</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OptingSimples</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>OptingSimpleFormula</elementReference>
            </defaultValue>
            <fieldText>Minha empresa é optante pelo simples</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ReadAndAgree</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Aliquota</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GetAccount.ISSTaxRate__c</elementReference>
            </defaultValue>
            <fieldText>Informe a Alíquota</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(38, 50, 56); font-family: Roboto, sans-serif;&quot;&gt;O valor da Alíquota deve ser entre 2% e 5%.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(38, 50, 56); font-family: Roboto, sans-serif;&quot;&gt;O valor da Alíquota deve ser entre 2% e 5%.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(AND({!Aliquota} &lt;= 5, {!Aliquota} &gt;= 2), true, false)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OptingSimples</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt3</name>
            <fieldText>&lt;p&gt;&lt;b&gt;INFORME O TIPO DE NOTA FISCAL DA SUA EMPRESA&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ReadAndAgree</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NFSelect</name>
            <choiceReferences>NFType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecionar</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ReadAndAgree</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ElectronicInvoiceLink</name>
            <dataType>String</dataType>
            <fieldText>Link da NF Eletrônica</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Nota Fiscal Eletrônica</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NFeInvoiceNumber</name>
            <dataType>Number</dataType>
            <fieldText>Número NFe/Fatura</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Esse campo é obrigatório.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(NOT({!NFSelect} = &apos;Recibo&apos;), true, false)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Nota Fiscal Eletrônica</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fatura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReceiptNumber</name>
            <dataType>Number</dataType>
            <fieldText>Número Recibo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Recibo</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmissionDate</name>
            <dataType>Date</dataType>
            <fieldText>Data Emissão</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;A data informada deve ser menor ou igual a data atual&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Por favor, informe uma data igual ou menor que o dia de hoje.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!EmissionDate} &gt; TODAY(), false, true)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Nota Fiscal Eletrônica</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Recibo</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fatura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>file</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nota Fiscal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf, .jpg, .jpeg, .png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Só é possível inserir arquivos PDF, JPEG, JPG e PNG.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>idDocuments</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>fileName</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Nota Fiscal Eletrônica</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Recibo</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fatura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt4</name>
            <fieldText>&lt;p&gt;{!GetFlowMetadatas.FlowInformation__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Talonário</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IsAware</name>
            <choiceReferences>yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Está ciente?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Talonário</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNeededFile</name>
        <label>Tela necessita arquivo</label>
        <locationX>2006</locationX>
        <locationY>913</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PaymentOrderInvoice</targetReference>
        </connector>
        <fields>
            <name>MessageFileNeeded</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Para esse tipo de documento selecionado: &lt;b&gt;{!NFType}.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;É necessário anexar um arquivo do tipo &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;PDF, PNG, JPG ou JPEG&lt;/b&gt;&lt;b&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenNotInsertDocument</name>
        <label>Tela para evitar inserir documento em um determiando status</label>
        <locationX>2011</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OpenRecord</targetReference>
        </connector>
        <fields>
            <name>MessageNotInsertInvoice</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Não é possível inserir um documento no status: &lt;b&gt;{!GetOrder.Status}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SucessScreen</name>
        <label>Sucess Screen</label>
        <locationX>5541</locationX>
        <locationY>1512</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eletronicInvoiceSucessSend</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;A &lt;b&gt;Nota Fiscal Eletrônica&lt;/b&gt; foi enviada com sucesso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>electronicInvoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReceiptSucessSend</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;O &lt;b&gt;Recibo &lt;/b&gt;foi enviado com sucesso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>receipt</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InvoiceSuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;A &lt;b&gt;Fatura &lt;/b&gt;foi enviada com sucesso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NFSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fatura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>1330</locationY>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>checkbook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Talonário</stringValue>
        </value>
    </variables>
    <variables>
        <name>documentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>electronicInvoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Nota Fiscal Eletrônica</stringValue>
        </value>
    </variables>
    <variables>
        <name>fileName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idDocuments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idFile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OPNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>receipt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Recibo</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
