force-app/main/default/flows/NewPortfolioAnalysis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>OpenCase</name>
        <label>Abrir Caso</label>
        <locationX>703</locationX>
        <locationY>253</locationY>
        <actionName>c:OpenCase</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>BeneficiarioServico</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceBeneficiary__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DecorrenciaServico</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceConsequences__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Nova Análise de Portfólio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nova Análise de Portfólio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatePortfolioAnalysis</name>
        <label>Criar Análise de Portfólio</label>
        <locationX>703</locationX>
        <locationY>49</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>OpenCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountSearch.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrowthReason__c</field>
            <value>
                <elementReference>GrowthReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaximumInvestment__c</field>
            <value>
                <elementReference>MaximumInvestment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinimumInvestment__c</field>
            <value>
                <elementReference>MinimumInvestment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonthlyGrowthExpectation__c</field>
            <value>
                <elementReference>MonthlyGrowthExpectation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceBeneficiary__c</field>
            <value>
                <elementReference>BeneficiaryService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceConsequences__c</field>
            <value>
                <elementReference>ConsequenceService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>ServiceCase.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VolumeExpectation__c</field>
            <value>
                <elementReference>VolumeExpectation</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>NewPortfolioAnalysis</name>
        <label>Nova Análise de Portfólio</label>
        <locationX>444</locationX>
        <locationY>48</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreatePortfolioAnalysis</targetReference>
        </connector>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;p&gt;Registre neste formulário as informações sobre a &lt;b&gt;&lt;u&gt;oportunidade de  novo negócio&lt;/u&gt;&lt;/b&gt; que deve ser avaliada pelo &lt;u&gt;Porto Socorro.&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountSearch</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nome da conta</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ServiceCase</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Serviço</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ConsequenceService</name>
            <choiceReferences>DecorrenciaServico</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Decorrências do serviço</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BeneficiaryService</name>
            <choiceReferences>BeneficiarioServico</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Beneficiário do Serviço</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VolumeExpectation</name>
            <dataType>Number</dataType>
            <fieldText>Expectativa do volume de atendimento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MonthlyGrowthExpectation</name>
            <dataType>Number</dataType>
            <fieldText>Expectativa de crescimento mensal</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Valor de porcentagem - Digite 60 para quando a expectativa de crescimento for de 60%.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>GrowthReason</name>
            <fieldText>Motivo do crescimento</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MinimumInvestment</name>
            <dataType>Currency</dataType>
            <fieldText>Investimento mínimo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>MaximumInvestment</name>
            <dataType>Currency</dataType>
            <fieldText>Investimento máximo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Descrição</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>34</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>NewPortfolioAnalysis</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0123i0000005jYSAAY</stringValue>
        </value>
    </variables>
    <variables>
        <name>ServiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
