force-app/main/default/flows/NewServiceExtension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ServiceExtension</name>
        <label>Abrir Ampliação de Serviço</label>
        <locationX>602</locationX>
        <locationY>50</locationY>
        <actionName>c:OpenCase</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>Segment</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Segment__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServedNewService</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServicedNewService__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceAllocationLines</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceAllocationLine__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServicesProvidedTo</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceProvidedTo__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Nova Ampliação de Serviço {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nova Ampliação de Serviço</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewServiceExtension</name>
        <label>Criar Nova Ampliação de Serviço</label>
        <locationX>404</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>ServiceExtension</targetReference>
        </connector>
        <inputAssignments>
            <field>ExpectationMinimalProjection__c</field>
            <value>
                <elementReference>ExpectationMinimalProjection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrowthReason__c</field>
            <value>
                <elementReference>ReasonGrowth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrowthStartDate__c</field>
            <value>
                <elementReference>GrowthStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrowthValue__c</field>
            <value>
                <elementReference>GrowthPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonthlyGrowthExpectation__c</field>
            <value>
                <elementReference>MonthlyGrowthExpectation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <elementReference>Segments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceAllocationLine__c</field>
            <value>
                <elementReference>ServiceAllocationLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceProvidedTo__c</field>
            <value>
                <elementReference>ServiceProvidedTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Servico.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicedNewService__c</field>
            <value>
                <elementReference>ServedService</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>NewServiceExtension</name>
        <label>Nova Ampliação de Serviço</label>
        <locationX>209</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNewServiceExtension</targetReference>
        </connector>
        <fields>
            <name>Servico</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Serviço</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Segments</name>
            <choiceReferences>Segment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Segmento</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ServedService</name>
            <choiceReferences>ServedNewService</choiceReferences>
            <dataType>String</dataType>
            <fieldText>O que será atendido pelo novo serviço</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ServiceAllocationLine</name>
            <choiceReferences>ServiceAllocationLines</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Linha de alocação do serviço</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ServiceProvidedTo</name>
            <choiceReferences>ServicesProvidedTo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Serviço será prestado para</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExpectationMinimalProjection</name>
            <dataType>Number</dataType>
            <fieldText>Expectativa - Projeção mínima</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MonthlyGrowthExpectation</name>
            <dataType>Number</dataType>
            <fieldText>Expectativa de crescimento mensal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ReasonGrowth</name>
            <fieldText>Motivo do crescimento</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GrowthPercentage</name>
            <dataType>Number</dataType>
            <fieldText>Percentual de crescimento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>GrowthStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Data de início do crescimento</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;O tempo de antecedência para este início será de 60 dias.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Region</name>
            <dataType>String</dataType>
            <fieldText>Região</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Região em o serviço será prestado, com todas as cidades e UF que compõem estes lugares. (cidades e integração com as zonas de monitoramento).&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>NewServiceExtension</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0123i0000005jYXAAY</stringValue>
        </value>
    </variables>
    <variables>
        <name>Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
