force-app/main/default/flows/ProviderReanalysis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ProviderRegistrationWizard</name>
        <label>Cadastro do Prestador</label>
        <locationX>1091</locationX>
        <locationY>60</locationY>
        <actionName>c:openProviderRegistrationWizard</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>GetAccount.CNPJ__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personType</name>
            <value>
                <elementReference>GetAccount.LegalSituation__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SubmitApprovalCanceledProvider</name>
        <label>Enviar para aprovação de Prestador Cancelado</label>
        <locationX>835</locationX>
        <locationY>476</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>ApprovalMessageCanceled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>FitForReanalysisRegistrationWizard</name>
        <label>Apto a Reanélise/Cadastro Wizard?</label>
        <locationX>682</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>ProviderReanalysis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>RegistrationWizard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.GreaterEqual90Days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProviderRegistrationWizard</targetReference>
            </connector>
            <label>Cadastro Wizard</label>
        </rules>
        <rules>
            <name>ProviderCanceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.InProgressCanceled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CanceledProviderApproval</targetReference>
            </connector>
            <label>Prestador Cancelado</label>
        </rules>
    </decisions>
    <interviewLabel>Reanalise do Prestador {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reanalise do Prestador</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>Busca Conta</label>
        <locationX>493</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FitForReanalysisRegistrationWizard</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>StatusRadar__c</queriedFields>
        <queriedFields>CNPJ__c</queriedFields>
        <queriedFields>InProgressCanceled__c</queriedFields>
        <queriedFields>Approver__c</queriedFields>
        <queriedFields>GreaterEqual90Days__c</queriedFields>
        <queriedFields>ReanalysisAvailable__c</queriedFields>
        <queriedFields>LegalSituation__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CanceledProviderApproval</name>
        <label>Aprovação Prestador Cancelado</label>
        <locationX>835</locationX>
        <locationY>282</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SubmitApprovalCanceledProvider</targetReference>
        </connector>
        <fields>
            <name>MessageApproval</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;        Por favor digite uma mensagem justificando a reanálise do prestador.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovalMessageCanceled</name>
            <fieldText>Comentário do Envio</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProviderReanalysis</name>
        <label>Reanálise Prestador</label>
        <locationX>690</locationX>
        <locationY>343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GreaterEqual90Days</name>
            <fieldText>&lt;p&gt;Só é possível fazer uma nova análise de um prestador após 90 dias de sua recusa.&lt;/p&gt;&lt;p&gt;O prestador&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!GetAccount.Name} &lt;/span&gt;só poderá passar por uma nova análise a partir de: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!GetAccount.ReanalysisAvailable__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.GreaterEqual90Days__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inativo</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.StatusRadar__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>B</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageTextRiskApproval</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;O prestador {!GetAccount.Name} já está em análise!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cancelado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.InProgressCanceled__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageTextActiveContact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;O prestador &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!GetAccount.Name} &lt;/span&gt;já se encontra Ativo!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ativo</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.InProgressCanceled__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NotHasApprover</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Não é possível reanalisar o prestador {!GetAccount.Name}, pois não está atribuído um aprovador para você.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Por favor entre em contato com o administrador do sistema.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.Approver__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Ativo</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>62</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
